body {    
    margin: 0;    
    height: 100vh;   
    display: flex;  
    flex-direction: column;   
    text-decoration: none;
}    



.top-bar {    
    border: 2px solid #000;     
    display: flex;     
    justify-content: space-between;     
    align-items: center;     
    height: 80px;   
    overflow: hidden;  
    background-color: #000;
}    

.top-bar-left, .top-bar-right {    
    display: flex;    
    align-items: center;    
}    

.borders-r, .borders-l {    
    padding: 2px;   
    max-width: 80px;   
}    


.top-pick {    
    max-width: 65px;    
    max-height: auto;    
    border: 2px solid #000; 
    border-radius: 8px; 
    padding: 5px; 
    background-image: linear-gradient( #5240c6c2, #863bbbb9);
} 

.main {  
    flex: 1;  
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    text-decoration: none;
    align-items: center; 
    background-image: linear-gradient(-30deg, #2E9AFF,#F498AD, #8e06d2);
    
    /* background-image: url("7g.gif");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; */
}  

.container{  
    display: flex; 
    width: 300px;  
    border: 2px solid #000; 
    border-radius: 8px;
    margin-bottom: 5px; 
    background-color: #ededed;
    
}  

.frame {
    padding: 5px;
    
}

.section { 
    display: flex; 
    width: 100%; 
    text-decoration: none;
    background-image: linear-gradient( #5240c6c2, #863bbbb9);
} 

.pics-part { 
    width: 50%; 
    background-image: linear-gradient( #5240c6b5, #863bbbb2);
}

.photo { 
    width: 100%; 
    height: auto; 
} 

.text-part { 
    width: 50%; 
    padding: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none;
}

.section u { 
    display: block;
}

.text {
    text-decoration: none;
}


.no-link {
    text-decoration: none; 
    color: inherit; 
}

.no-link:hover {
    text-decoration: none; 
    color: inherit; 
}


.footer {
    display: flex; 
    justify-content: center;  
    padding: 10px; 
}

.footer-link {
    color: #007bff; 
    text-decoration: none; 
    margin: 0 10px; 
}

.footer-link:hover {
    text-decoration: underline; 
}

.separator {
    align-self: center; 
}


.note-container {  
    background-color: white;  
    border: 1px solid #ccc;  
    border-radius: 10px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    padding: 20px;  
    width: 90%;   
    max-width: 600px;   
}  

.note-title {  
    width: calc(100% - 120px);   
    margin-bottom: 10px;  
    padding: 10px;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
}  

.date-display {  
    display: inline-block;  
    vertical-align: top;  
    margin: 10px;  
    padding-left: 3%;  
    padding-right: 3%;  
    padding-bottom: 2%;  
    font-size: 14px;  
    color: #666;  
}  

.note-text {  
    resize: none;
    width: calc(100% - 20px);   
    height: 150px;   
    margin-bottom: 10px;  
    padding: 10px;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
}  

.save-button {  
    display: block;   
    margin: 0 auto;   
    padding: 10px 15px;  
    background-color: #e10455;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s ease;  
}  

.save-button:hover {  
    background-color: #520bb6;   
}  

#timeDisplay {  
    margin-top: 10px;  
    font-size: 14px;  
    color: #666;  
} 
