body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: linear-gradient(135deg, rgba(0, 0, 255, 0.7), rgba(128, 0, 128, 0.7));
    backdrop-filter: blur(10px);
    height: 150px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

h1 {
    font-size: 48px; 
    color: white; 
    text-align: center;
    margin: 0; 
}


.content {
    padding: 20px; 
}

.block {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
    background-color: #f0f0f0; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.image-left {
    margin-right: 20px; 
}

.image-right {
    margin-left: 20px; 
}

.text {
    flex: 1; 
}

.text h2 {
    margin-top: 0; 
}

.registration {
    display: flex; 
    justify-content: center; 
    margin-top: 30px; 
}

.register-button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    font-size: 35px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.register-button:hover {
    background-color: #0056b3; 
}

.footer {
    display: flex; 
    justify-content: center; 
    margin-top: 40px; 
    padding: 20px; 
}

.footer-link {
    color: #007bff; 
    text-decoration: none; 
    margin: 0 10px; 
}

.footer-link:hover {
    text-decoration: underline; 
}

.separator {
    align-self: center; 
}

.no-link {
    text-decoration: none; 
    color: inherit; 
}